
<header class="top-nav" [class.top-nav-compact]="navbarCompact()">
  <div class="top-nav-inner">
    <button
      type="button"
      class="brand"
      (click)="scrollTo('hero')"
      aria-label="Go to hero section"
      >
      <span class="brand-mark">
        <icon-player-circle [size]="22"></icon-player-circle>
      </span>
      <span class="brand-text">
        <h3>Cine<span>Pick</span></h3>
      </span>
    </button>

    <nav class="desktop-links" [attr.aria-label]="'navbar.mainNavigationAria' | transloco">
      @for (link of navLinkIds; track link.id) {
        <button
          type="button"
          class="desktop-link"
          [class.desktop-link-active]="isNavActive(link.id)"
          (click)="scrollTo(link.id)"
        >
          {{ 'nav.' + link.id | transloco }}
        </button>
      }
    </nav>

    <div class="top-tools">
      <button type="button" class="tool-btn" (click)="toggleLang()">
        {{ (langSvc.isEnglish() ? 'navbar.langToggleToPt' : 'navbar.langToggleToEn') | transloco }}
      </button>

      @if (searchOpenBar()) {
          <label class="search-pill" [attr.aria-label]="'navbar.searchTitlesAria' | transloco">
            <app-icon-search [size]="16"></app-icon-search>
            <input
              type="text"
              [value]="searchValue()"
              [attr.placeholder]="'navbar.searchPlaceholder' | transloco"
            />
            <button type="button" class="tool-btn" (click)="closeSearchBar()">
              <app-close-icon [size]="16"></app-close-icon>
            </button>
          </label>
      } @else {
        <button
        type="button"
        class="tool-btn"
        (click)="toggleSearchBar()"
        [attr.aria-label]="'navbar.openSearchAria' | transloco">
          <app-icon-search [size]="16"></app-icon-search>
        </button>
      }

      <button
        type="button"
        class="tool-btn tool-btn-notification"
        [attr.aria-label]="'navbar.notificationsAria' | transloco"
      >
        <app-bell-notifications-icon [size]="20"></app-bell-notifications-icon>
      </button>
      <button type="button" class="avatar" [attr.aria-label]="'navbar.profilesAria' | transloco">
          <app-user-icon [size]="16"></app-user-icon>
      </button>
    </div>
  </div>
</header>
